allennlp==2.10.1
dill==0.3.6
nltk==3.8.1
numpy==1.24.3
omegaconf==2.3.0
openai==0.28.1
pathos==0.3.2
PyYAML==6.0.1
setuptools==68.2.2
stanza==1.5.1
subword_nmt==0.3.8
tokenizers==0.13.3
torch==2.0.1
torch_scatter==2.1.2
tqdm==4.65.0
transformers==4.32.0
wandb==0.16.5
zhon==2.0.2
